@{
    ViewData["Title"] = "Home Page";
}

<h1>BIENVENIDOS A MIS DATOS PERSONALES</h1>
<div class="alert alert-danger" role="alert"></div>


<p class="font-italic">Mi Nombre es:</p>
  <p style="color:#FFA07A";>Eliezer Benjamin Diaz Segovia</p>

<p class="font-italic">Mi Edad es:</p>
  <p style="color:#FFA07A";>18 Años</p>

<p class="font-italic">Mi Genero es:</p>
  <p style="color:#FFA07A";>Masculino</p>

<p class="font-italic">Mi correo:</p>
  <p style="color:#FFA07A";>eliezerd750@gmail.com</p>

<p class="font-italic">Direccion:</p>
  <p style="color:#FFA07A";>San Miguel, San Miguel</p>

<p class="font-italic">Telefono::</p>
  <p style="color:#FFA07A";>7544-7447</p>